$primary: #00bcd4;
$primary-font: #006064;
$primary-font-light: #e0f7fa;

$secondary: #607d8b;
$secondary-font: #263238;
$secondary-font-light: #eceff1;

.Footer {
  background-color: $primary;
  text-align: center;
}
