.ExternalLinkButton {
  button {
    transition: all 0.33s;
    margin: 10px;
    font-size: 1.1em;
    box-shadow: 3px 5px 10px #424242, -3px 5px 10px #424242;

    svg {
      margin-left: 5px;
    }

    &:hover {
      color: antiquewhite;

      svg {
        fill: currentColor;
      }
    }
  }
}
