.Footer {
  .footer-logo {
    margin: 0 auto;
    height: 6vmin;
    width: 6vmin;
    color: #282c34;
    animation: footer-logo-spin infinite 20s linear,
      change-color infinite 10s ease-in-out;
  }

  .footer-link-home {
    transition: color 0.33s;
  }

  .footer-link-home:hover {
    color: antiquewhite;
  }

  .footer-links {
    display: inline-block;

    svg {
      vertical-align: text-top;
      transition: fill 0.33s;
    }

    svg:hover {
      fill: antiquewhite;
    }
  }
}

@keyframes footer-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes change-color {
  0%,
  100% {
    color: #282c34;
  }
  50% {
    color: #61dafb;
  }
}
