.Projects {
  .ProjectSummary {
    margin: 0 auto;
    max-width: 992px;
    padding: 10px 0 50px;

    img {
      max-width: 480px;
      border: 4px solid antiquewhite;
      // border-radius: 6px;
    }
  }

  .ProjectSummaryRoot:nth-child(odd) {
    background-color: #00e5ff;
  }
  .ProjectSummaryRoot:nth-child(even) {
    background-color: #0097a7;
  }
}
