.AppLogo {
  animation: App-logo-spin infinite 20s linear,
    App-logo-size infinite 30s ease-in-out;
  height: 40vmin;
  pointer-events: none;
}

.ReactLogo {
  overflow: hidden;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation: change-background-color infinite 10s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes change-background-color {
  0%,
  100% {
    background-color: #282c34;
  }
  50% {
    background-color: #61dafb;
  }
}

@keyframes App-logo-size {
  0%,
  100% {
    height: 1vmin;
  }
  50% {
    height: 100vmin;
  }
}
